*, html {
    font-family: Inter, Neue, Helvetica, Arial, sans-serif;
    box-sizing: border-box;
    margin: 0;
    color: rgb(68, 68, 68)
}

.heading {
    font-size: xxx-large;
}

body {
    background-color: rgb(240, 240, 240);
    display: flex;
    flex-direction: column;
    gap: 24px;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: none;
}

#canvas-container {
    height: 500px;
    width: 500px;
    background-color: white;
    display:flex;
    flex-direction: column;
    gap: 0;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

button {
    flex: 1;
}

button:hover {
    cursor: pointer;
}

#controls {
    display: inline-flex;
    flex-wrap: wrap;
    gap: 16px;
    width: 500px;
}

.canvas {
    flex: 1;
    display: flex;
    gap: 0;
}

.slider {
    accent-color: rgb(68, 68, 68)
}

.size-tool {
    text-align: center;
    flex: 1;
}
