* {
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

body {
    background-color: rgb(200, 200, 200);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

#canvas {
    height: 500px;
    width: 500px;
    background-color: white;
    display:flex;
    flex-direction: column;
    gap: 0;
}

.canvas {
    flex: 1;
    display: flex;
    gap: 0;
}

